<div class="container" [ngStyle]="{'max-width' : '250px'}">
  <div class="card-title" [ngStyle]="{'max-width' : '250px'}">
    Welcome to {{ title }}!
  </div>

  <form [ngStyle]="{'max-width': '200px'}" (ngSubmit)="onSubmit()" #functionForm="ngForm">
    <label>Pick function</label>
    <select class="form-control" [(ngModel)]="selectedFunction" name="selectedFunction" >
      <option value=0>sum (a,b)</option>
      <option value=1>max (a,b,c)</option>
      <option value=2>prime (a)</option>
      <option value=3>reverse (a)</option>
    </select>

    <div *ngIf="selectedFunction == '0'">
      <input type="number" class="form-control" [(ngModel)]="a" name="First num" #sumNrA="ngModel">
      <input type="number" class="form-control" [(ngModel)]="b" name="Second num">
      <div class="error" [class.hide]="sumNrA.valid">
        First number for sum is required!
      </div>
    </div>

    <div *ngIf="selectedFunction == '1'">
      <input type="number" class="form-control" [(ngModel)]="a" name="First num">
      <input type="number" class="form-control" [(ngModel)]="b" name="Second num">
      <input type="number" class="form-control" [(ngModel)]="c" name="Third num">
    </div>

    <div *ngIf="selectedFunction == '2'">
      <input type="number" class="form-control" [(ngModel)]="a" name="Prime number">
    </div>

    <div *ngIf="selectedFunction == '3'">
      <input type="text" class="form-control" [(ngModel)]="stringToReverse" name="String">
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Submit Review</button>
    </div>

    <p>Result:</p>
    <p *ngIf="res !== ''">{{res}}</p>
  </form>
</div>
